
  body {background-color: #e6e6fa;
            color: # 191970;}
  h1 {background-color: #191970;
          color: #e6e6fa;}
  h2 {background-color: # e6f8e3;
          color: red;}
 .new {color:#ff0000;
          font-style: italic;}
 #never {color:blue;
           font-weight: bold;}
 .span4days {font-type: italic;
                 font-weight: bold;
                      color: #660033;}