h1  
    {color: red;}
body
     { background-color:#ccccff;}

#assignments 
     {background-color:#3399cc;}
	 
#web
    {color:#003399}
.span4days {font-style: italic;
                 font-weight: bold;
                      color: #660033;}