body { background-color: linear-gradient(to bottom, red, yellow);
       color:#333333;
	   font-family: Verdana, Arial, sans-serif;
	   padding-left: 170px;
}
h1 { background-color: red;  
     color:#5c743d;
	 font-family: Georgia, "Times New Roman", serif;
	 background-image: url(trilliumlogo.gif);
	 background-repeat: no-repeat;
	 background-position: left;
	 text-indent: 140px;
	 border: 3px solid black;
	 border-radius: 30px;
}
h2 { color:#5c743d;
     font-family: Georgia, "Times New Roman", serif;
}
p { text-indent: 3em; }
nav { font-weight: bold; }
.companyname { color: #5c743d; 
               font-weight: bold;
}
footer {  font-family: Georgia, "Times New Roman", serif;
          font-size: .80em;
		  font-style: italic;
		  text-align: center;
}
#wrapper {  background-color: blue;
	       padding-right: 70px;
           padding-left: 170px;
	       width: 700px;
		   box-shadow: 15px 15px 15px #006600;
}